table {
    width: 80%;
  }

  .main-table{
    width: 100%;
    display: flex;
    justify-content: space-around
  }
  .m-r-10{
    margin-right: 10px;
  }

  .comment-container {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .comment-header {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .comment-date {
    font-size: 0.8em;
    color: #666;
    margin-left: 10px;
  }

  .comment-body {
    margin-top: 5px;
  }